{% extends 'book/base.html' %}
{% block title %}Add Book{% endblock %}

{% block body %}

{% load staticfiles %}

<div class="container-fluid" id = 'form-container'>

    <div class="col-sm-12 col-md-10" align="center" id = 'form-container'>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="jumbotron">
                    <p class="lead"><font size = '6'>Add a new book</font></p>
                    <hr class="m-y-md">
                    <p>Enter the ISBN number without '-' and click search button! <br/> If you want to input manually, click
                    <a href="/books/addmanually">
                        <span class="uk-text-meta">here</span>
                    </a>
                    </p>
                </div>
                {% if error_message %}
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong>{{error_message}
                </div>
                {% endif %}
                <form class="form-horizontal" role="form" action="{% url 'books:search' %}" method="GET" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row justify-content-center">
                        <div class="col-sm-4 align-self-center">
                            <input class="form-control" type="text" name="isbn" required maxlength="13" placeholder="Please input ISBN code"/>
                        </div>
                        <div class="col-sm-12">&nbsp;</div>
                        <div class="col-sm-4">
                            <button class="btn btn-dark" v-on:click="regist">search</button>
                        </div>
                    </div>
                </form>
            </div>
            <br/>
        </div>
    </div>
</div>

{% endblock %}