{% extends 'book/base.html'%} {%block body%}
<div id = 'form-center'>
    <div class="jumbotron text-center" >
        <p class="lead"><font size = '6'><strong>My borrowed books</strong></font></p>
        <hr class="m-y-md">
        <p>View borrowed books</p>                
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if books %}
    <ul>
        {% load staticfiles %}
        <!-- Custom styles for this template -->

        <main role="main">
            <div class="container">
                <div class="row">
                    {% for book in books %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div align='center'>
                                {% load staticfiles %}
                                <img class="card-img-top" src="{{ book.cover_image.url }}" href="/books/{{book.id}}/detail" alt="Thumbnail [100%x100%]" style="height: 50%; width: 50%; display: block;"
                                data-holder-rendered="true">
                            </div>
                            <div class="card-body">
                                <div href = "/books/{{book.id}}/detail" >
                                    <h5 href = "/books/{{book.id}}/detail" class="card-title">{{book.title}}</h5></div>
                                    <br\>
                                    <p class="card-text">
                                        <font size='2'>Auther: {{book.author}}</font>
                                        <br/>
                                        <font size='2'>Owner：{{book.owner.last_name}} {{book.owner.first_name}}</font>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <form action="{% url 'books:return_req' book.id %}">
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Request</button>
                                            </form>
                                            <form action="{% url 'books:return' book.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Return</button>
                                            </form>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>

            </main>
        </ul>
        {% else %}
        <br\>
        <div class="container" style="text-align: center">
            <h1 class="display-3">Sorry!</h1>
            <p class="lead">There are no borrowed books...</p>
        </div>
        {% endif %}
    </div>


    {%endblock%}