{% extends 'book/base.html' %}
{% block title %}Confirm Book{% endblock %}

{% block body %}

{% load staticfiles %}
<div class="container-fluid" id = 'form-container'>

    <div class="col-sm-12 col-md-12" align="center" id = 'form-container'>
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-horizontal" role="form" action="{% url 'books:book-add' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <br/>
                        <h2 class="mb-3 font-weight-normal">Book Information</h2>
                    </div>
                    <hr/>
                    <div class="row justify-content-center">
                        <div class="col-sm-5">
                            <br/>
                            <img src="{{cover_url}}" class="img-fluid">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-3 text-left">
                            {% include 'includes/form.html' %}
                            {% comment %}<table>{{form.as_table}}</table>{% endcomment %}
                        </div>
                    </div>
                    <div class="col-sm-12">&nbsp;</div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-dark">Add book</button>
                    </div>
                </form>
            </div>
            <br/>
        </div>
    </div>
</div>

{% endblock %}