{% extends 'book/base.html'%} {%block body%}
<div>
    <div class="jumbotron" >
        <p class="lead"><font size = '6'>Welcome to Library App</font></p>
        <hr class="m-y-md">
        <p>This is our library</p>                
    </div>
    {% if books %}
    <ul>
        <br\>
        <br\>
        <main role="main">
            {% if error_message %}
            <div class="alert alert-warning" role="alert">
                <strong>{{error_message}</strong>
            </div>
            {% endif %}

            
            <div class="container">
                <div class="row">
                    {% for book in books %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div align='center'>
                                {% load static %}
                                <img class="card-img-top" src="{{ book.cover_image.url }}" href="/book/{{book.id}}/detail" alt="Thumbnail [100%x100%]" style="height: 50%; width: 50%; display: block;"
                                data-holder-rendered="true">
                            </div>
                            <div class="card-body">
                                <div href = "/book/{{book.id}}/detail" >
                                    <h5 href = "/book/{{book.id}}/detail" class="card-title">{{book.title}}</h5></div>
                                    <br\>
                                    <p class="card-text">
                                        <font size='2'>Author：{{book.author}}</font>
                                    </p>
                                    <p class="card-text">
                                        <font size='2'>Quantity：{{book.quantity}}</font>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <form action="{{book.id}}/borrow" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Rent</button>
                                            </form>
                                            <a href="https://book.douban.com/subject_search?search_text={{book.ISBN}}&cat=1001">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">details</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>

            </main>
        </ul>
        {% else %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Sorry!</h1>
                <p class="lead">There is no book in a library</p>
            </div>
        </div>
        {% endif %}
    </div>


    <div class="uk-margin-large" style="text-align: center">
        <a href="">
            <span class="uk-text-meta">About the library</span>
        </a>
    </div>
    {%endblock%}