{% extends 'book/base.html'%}
{%block body%}
<div id = 'form-container'>
    <div class="jumbotron text-center" >
        <p class="lead"><font size = '6'><strong>My owned books</strong></font></p>
        <hr class="m-y-md">
        <p>View owned books here!</p>                
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    {% if books %}
    <ul>
        {% load static %}

        <main role="main">

            <div class="container">
                <div class="row">
                    {% for book in books %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow" id="booklist">
                            <div align='center'>
                                <img class="card-img-top" src="{{ book.cover_image.url }}" alt="Thumbnail [100%x100%]" style="height: 50%; width: 50%; display: block;"
                                data-holder-rendered="true">
                            </div>
                            <div class="card-body">
                                <a href = "/books/{{book.id}}/detail" >
                                    <h5 href = "/books/{{book.id}}/detail" class="card-title">{{book.title}}</h5>
                                </a>
                                <br\>
                                <p class="card-text">
                                    <font size='2'>Auther: {{book.author}}</font>
                                    <br/>
                                    <font size='2'>Owner：{{book.owner.last_name}} {{book.owner.first_name}}</font>
                                    <br/>
                                    <font size='2'>Quantity：{{book.quantity}}</font>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if book.quantity != 0 %}
                                    <div class="btn-group">
                                        <form action="{% url 'books:delete' book.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                                        </form>
                                    </div>
                                    {% else %}
                                    <font size='4' color="red"> lent out</font>    
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </main>
    </ul>
    {% else %}
        <div class="container" style="text-align: center">
            <h1 class="display-3">Sorry!</h1>
            <p class="lead">There are no owned books...</p>
        </div>
    {% endif %}
</div>
{%endblock%}