{% extends 'book/base.html'%}
{%block body%}
<div id = 'form-container'>
    <div class="jumbotron text-center" >
        <p class="lead"><font size = '6'>My owned books</font></p>
        <hr class="m-y-md">
        <p>Your owned books here</p>                
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    {% if books %}
    <ul>
        {% load static %}

        <main role="main">

            <div class="container">
                <div class="row">
                    {% for book in books %}
                    <div class="col-md-4">
                        {% if book.quantity == 0 %}
                        <div class="card mb-3 box-shadow bg-secondary">
                        {% else %}
                        <div class="card mb-4 box-shadow">
                        {% endif %}
                            <div align='center'>
                                <img class="card-img-top" src="{{ book.cover_image.url }}" href="/books/{{book.id}}/detail" alt="Thumbnail [100%x100%]" style="height: 50%; width: 50%; display: block;"
                                data-holder-rendered="true">
                            </div>
                            <div class="card-body">
                                <div href = "/books/{{book.id}}/detail" >
                                    <h5 href = "/books/{{book.id}}/detail" class="card-title">{{book.title}}</h5></div>
                                    <br\>
                                    <p class="card-text">
                                        <font size='2'>Auther: {{book.author}}</font>
                                        <br/>
                                        <font size='2'>Owner：{{book.owner.last_name}} {{book.owner.first_name}}</font>
                                        <br/>
                                        <font size='2'>Quantity：{{book.quantity}}</font>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if book.quantity != 0 %}
                                        <div class="btn-group">
                                            <form action="/books/{{book.id}}/delete" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>

            </main>
    </ul>
    {% else %}
        <div class="container" style="text-align: center">
            <h1 class="display-3">Sorry!</h1>
            <p class="lead">There are no owned books...</p>
        </div>
    {% endif %}
</div>
{%endblock%}