{% extends 'book/base_visitor.html'%} {%block body%}
<div>
    <div class="jumbotron" >
        <p class="lead"><font size = '6'>Welcome to Library App</font></p>
        <hr class="m-y-md">
        <p>This application enables to share books among users!</p>
        <p>You can borrow any books in the library, register your books in the library and lend them to other members.</p><br/>
        <p>To use LibraryApp, you need to 
            <a href="/books/register"><span class="uk-text-meta">SignUp</span></a>
            or 
            <a href="/books/login"><span class="uk-text-meta">Login</span></a>
        </p><br/>
    </div>
</div>

{%endblock%}