{% extends 'book/base.html'%} {%block body%}
{% load static %}
<div>
    <div class="jumbotron text-center" >
        <img class="mb-4" src="{% static 'logo.png'%}" alt="not found" width="80" height="80">        
        <p class="lead"><font size = '6'><strong>Welcome to Bibly!!</strong></font></p>
        <hr class="m-y-md">
        <p>This application enables to share books among users!</p>
        <p>You can borrow any books in the library, you can also add your books in the library and lend them to other users.</p><br/>
        <p>To use LibraryApp, you need to 
            <a href="{% url 'books:register' %}"><span class="uk-text-meta">SignUp</span></a>
            or 
            <a href="{% url 'login' %}"><span class="uk-text-meta">Login</span></a>
        </p><br/>
    </div>
</div>

{%endblock%}