{% extends 'book/base.html'%} {%block body%}
<div id = 'form-container'>
        <div class="jumbotron" >
                {% comment %} <h10 class="display-3">Add a new book</h10> {% endcomment %}
                <p class="lead"><font size = '6'>My Bookshelf</font></p>
                <hr class="m-y-md">
                <p>View borrowed books</p>                
              </div>
    {% if books %}
    <ul>
        {% load staticfiles %}
         <!-- Custom styles for this template -->
         
         <main role="main">
                {% if error_message %}
                <div class="alert alert-warning" role="alert">
                    <strong>{{error_message}</strong>
                </div>
                {% endif %}
    
    
                <div class="container">
                    <div class="row">
                        {% for book in books %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div align='center'>
                                    {% load staticfiles %}
                                    <img class="card-img-top" src="{% static book.FrontPage %}" href="/books/{{book.id}}/detail" alt="Thumbnail [100%x100%]" style="height: 50%; width: 50%; display: block;"
                                        data-holder-rendered="true">
                                </div>
                                <div class="card-body">
                                    <div href = "/books/{{book.id}}/detail" >
                                    <h5 href = "/books/{{book.id}}/detail" class="card-title">{{book.BookName}}</h5></div>
                                    <br\>
                                        <p class="card-text">
                                            <font size='2'>Auther: {{book.Author}}</font>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <form action="/books/{{book.id}}/return" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Return</button>
                                                </form>
                                                <a href="https://book.douban.com/subject_search?search_text={{book.ISBN}}&cat=1001">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                                </a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
    
            </main>
    </ul>
    {% else %}
        <br\>
        <br\>
        <div class="uk-margin-large" style="text-align: center">
            <span class="uk-text-meta">You have not borrowed books yet</span>
            <a href="/books">
                <span class="uk-text-meta">Borrow a book</span>
            </a>
        </div>
    {% endif %}
</div>


{%endblock%}